<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header-body">
          <div class="hamburger"></div>
          <a href="/" class="logo">
            <img src="./assets/images/logo-lightmode.png" alt="Din Din Cycling Travel">
          </a>
          <nav>
            <ul class="nav-list">
              <li><a href="">探索地圖</a></li>
              <li><a href="">單車活動</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%- contents %>

    <footer class="footer">
      <div class="container">
        <div class="footer-body">
          <ul class="footer-body-s">
            <li>106 台北市大安區敦化南路二段95號29樓</li>
            <li>Undestructable_Translator@company.com</li>
            <li>(00) 555-0103</li>
          </ul>
          <div class="footer-body-e">
            <ul>
              <li><a href="/"><img src="" alt=""></a></li>
              <li><a href="/"><img src="" alt=""></a></li>
              <li><a href="/"><img src="" alt=""></a></li>
              <li><a href="/"><img src="" alt=""></a></li>
            </ul>
            <p>Copyright © 2021 TRAVEL. All rights reserved.</p>
          </div>
        </div>
      </div>      
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>